{
  "presets": [
    "@babel/preset-env",
    "@babel/react"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul", {
            "exclude": [
            "**/test/**/*.js"
            ]
          }
        ],
        "react-hot-loader/babel",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    }
  }
}
